<div class="row">
  <%= link_to "https://8386f5d675c540f88bf70b76a1067b3d.vfs.cloud9.ap-northeast-1.amazonaws.com/users/#{@current_user.id}",class: "btn btn-outline-secondary btn-block " do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
  <br>
</div>

<!--user_edit_url-->
<!--https://8386f5d675c540f88bf70b76a1067b3d.vfs.cloud9.ap-northeast-1.amazonaws.com/users/#{@current_user.id}/edit-->